#app {
  width: 100%;
  display: flex;
}

.element {
  margin: 5px;
  border: red 1px solid;
}

.themapcountenair {
  background-color: white;
  border: solid;
  height: 600px;

  display: flex;
  border-radius: 8px;
  margin: 10px;
}

.themap {
  border: solid;
  background-color: gray;
  height: 500px;
  width:95%;
  border-radius: 8px;
  background-size: cover;

}

.row1 {
  display: flex;
}

.x1y4 {
  border: solid;
}

.images {
  display: flex;
}

.image_button_container {
  display: flex;
  flex-wrap: wrap;
  width: 5%;
  // flex-direction: column;
}