.pagemap {
  padding: 3%;
}

.button-container {
  display: flex;
}

.buttons-for-map {
  display: flex;
  margin-left: 42%;
}

.themapcountenair {
  background-color: white;
  height: 100%;
  display: flex;
  border-radius: 5px;
  margin: 1%;
  margin-top: 5%;
  padding: 20px;
}

.word-to-remember {
  padding: 2%
}

.searchbarall {
  margin-left: 1%;
}

.image {
  background-color: rgb(237, 237, 237);
  width: 150px;
  height: 100px;
  border-radius: 5px;
  padding: 6px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.themap {
  display: flex;
  background-color: gray;
  height: 70%;
  width: 100%;
  border-radius: 5px;
  background-size: cover;
  margin-left: 1%;
}

.row1 .row2 .row3 .row4 .row5 .row6 {
  display: flex;
}

.image-search-bar {
  width: 130px;
  height: 90px;
  border-radius: 5px;
  margin-top: 12%;
}

.image-result {
  border-radius: 45px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8%;
  margin-top: 8%;
  margin-left: 15%
}

.no-result-for-search {
  width: 100px;
  height: 100px;
  display: flex;
}

.images {
  display: flex;
}

.picture-dropzone {
  width: 100px;
  height: 100px;
}

.image_button_container {
  display: flex;
  flex-wrap: wrap;
  width: 5%;
  // flex-direction: column;
}

.no-result-for-search h4 {
  font-size: 15px;
}

.mapbutton {
  height: 40px;
  background-color: rgb(98, 177, 246);
  margin: 1%;
  color: white;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  transition: background 0.3s ease;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  font-weight: bold;
}

.mapbutton:hover {
  background: rgb(11, 113, 196);
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.mapbutton a {
  display: block;
  text-decoration: none;
}

.searchbar {
  margin: 8%;
}

