#app {
  width: 100%;
  display: flex;
}

div {
  width: 100%;
}

.element {
  margin: 5px;
  border: red 1px solid;
}

.themapcountenair {
  background-color: white;
  border: solid;
  height: 600px;
  weight: 100vw;
  display: flex;
  border-radius: 8px;
  margin-left: 10px;

}
