.container-login {
  padding: 50px;
  max-width: 50%;
  margin: 0 auto;
  margin-top: 150px;
  border-radius: 5px;
  background-color: white;
  border-style: solid;
  border-color: $button;
    h2 {
      color: $title;
      font-weight: bolder;
    }
  }
