.container-search {
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

.image-search-bar {
  width: 20%;
}

.image-result {
  border-style: solid;
  border-color: #3b9ce2;
  width: 20%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}

.search-bar {
  width: 20%;
}
