<div class="banner" style="background-image: linear-gradient(180deg, rgb(59, 156, 226) 0%, rgba(7, 136, 255, 0.08) 100%) /*,url(https://images.unsplash.com/photo-1532364655335-22e65859b746?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);*/">
  <div class="banner-text-photo">
    <div class="banner-text">
      <h2><strong>MAPit </strong>today<br> Remember it tomorrow</h2>
      <h4>Experience a fun way learning languages </h4>
      <%= link_to courses_path do %>
        <button name="button" type="submit" class="button">Try it now!</button>
      <% end %>
    </div>
    <div class="square-map">
      <iframe id="ytplayer" type="text/html" width="630" height="300"
         src="https://www.youtube.com/embed/th5J5iuvQAE?autoplay=1"
         frameborder="0"></iframe>
    </div>
    <!-- <div class="square-map">
      <video playsinline autoplay muted loop src="(https://fluent-forever.com/wp-content/uploads/2019/04/homepage-1.mp4) ; no-repeat center center fixed; background-size: cover" type="video/mp4">
      </video>
      style="background-image: url(https://images.unsplash.com/photo-1516738901171-8eb4fc13bd20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80); no-repeat center center fixed; background-size: cover"
    </div> -->
  </div>
</div>
  <div class="arrow-down bounce explanation-arrow">
    <a href="#explanation"><i class="fas fa-chevron-down"></i></a>
  </div>


<!--
 <div class="banner" style="background-image: linear-gradient(180deg, rgba(7, 136, 255, 0.8) 0%, rgba(7, 136, 255, 0.08) 100%)">
  <div class="banner-container">
    <div class="banner-text">
      <h2><strong>MAPit </strong>today<br> Remember it tomorrow</h2>
      <h4>Experience a fun way learning languages </h4>
      <button name="button" type="submit" class="button">
        <%= link_to "Try it now", courses_path %>
      </button>
     </div>
  </div>
  <div class="arrow-down bounce">
      <a href="#explanation"><i class="fas fa-chevron-down"></i></i></a>
  </div>
</div>

 -->
