<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1531944252668-83d381a30b26?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);">
  <div class="banner-container">
    <h1>MAPit <strong>today</strong> <br> Remember it <strong>tomorrow</strong></h1>
    <p>Learn a language using the loci method and remember it for ever</p>
    <button name="button" type="submit" class="button">
      <%= link_to 'Try it now', search_path  %>
    </button>
  </div>
</div>
