<a name="explanation"></a>
<div class="container-explanations">
  <h1>So how does MAPit work?</h1>
  <div class="explanations-grid">
    <div class="explanation">
      <img src="https://image.flaticon.com/icons/svg/214/214333.svg" class="explanation-icon">
<!--       <i class="far fa-images explanation-icon"></i> -->
      <h4>Smart flashcards</h4>
      <p>Learn rapidly by transforming vocabulary words into images. You will create personalized, interactive and funny flashcards.</p>
    </div>
    <div class="explanation">
      <img src="https://image.flaticon.com/icons/svg/214/214320.svg" class="explanation-icon">
<!--       <i class="fas fa-map-marked-alt explanation-icon"></i> -->
      <h4>MAPit!</h4>
      <p>Place the images into a familiar locations with a name beginning with the letter of your vocabulary word, you can upload your own photos!</p>
    </div>
    <div class="explanation">
      <img src="https://image.flaticon.com/icons/svg/214/214337.svg" class="explanation-icon">
      <h4>Spaced repetition</h4>
      <p>Hack your memory with the power of spaced repetition system, the most effective memorization tool yet devised.</p>
    </div>
    <div class="explanation">
     <img src="https://image.flaticon.com/icons/svg/214/214342.svg" class="explanation-icon">
      <h4>Intelligent vocabulary order</h4>
      <p>Learn the vocabulary that you need to acquire in your job (bankers, layers, ..) rather than hard-to-remember category-based groups (red...orange...yellow).</p>
    </div>
  </div>
  <div class="arrow-down bounce">
    <a href="#testimonials"><i class="fas fa-chevron-down"></i></a>
  </div>
</div>


<!-- <a name="explanation"></a>
<div class="container-explanations">
  <h1>So how does MAPit work?</h1>
  <div class="explanations-grid">
    <div class="explanation">
      <div class ="icon-circle">
        <div class="explanation-icon"><i class="far fa-images"></i></div></div>
        <h4>Smart flashcards</h4>
        <p>Learn rapidly by transforming vocabulary words into images. You will create personalized, interactive and funny flashcards.</p>
      </div>
      <div class="explanation">
        <div class="explanation-icon"><i class="fas fa-map-marked-alt"></i></div>
        <h4>MAPit!</h4>
        <p>Place the images into a familiar locations with a name beginning with the letter of your vocabulary word, you can upload your own photos ;)</p>
      </div>
      <div class="explanation">
        <div class="explanation-icon"><i class="fas fa-history"></i></div>
        <h4>Spaced repetition</h4>
        <p>Hack your memory with the power of spaced repetition system, the most effective memorization tool yet devised.</p>
      </div>
      <div class="explanation">
        <div class="explanation-icon"><i class="fas fa-medal"></i></div>
        <h4>Intelligent vocabulary order</h4>
        <p>Learn the vocabulary that you need to acquire in your job (bankers, layers, ..) rather than hard-to-remember category-based groups (red...orange...yellow).</p>
      </div>
    </div>
  <div class="arrow-down bounce">
    <a href="#testimonials"><i class="fas fa-chevron-down"></i></a>
  </div>
  </div>
</div> -->
