<div class="everything-explanations">
  <h1>From <bold>Zero</bold> to Hero in languages</h1>
    <div class="explanations">
      <div class="explanation">
        <%= image_tag "https://static.thenounproject.com/png/2152815-200.png", class: "img" %>
        <h4>Smart flashcards</h4>
        <p>Learn rapidly by transforming vocabulary words into images. You will create personalized, interactive and funny flashcards.</p>
      </div>
      <div class="explanation">
        <%= image_tag "https://static.thenounproject.com/png/34253-200.png", class: "img" %>
        <h4>Map it!</h4>
        <p>Place the images into a familiar locations with a name beginning with the letter of your vocabulary word, you can upload your own photos ;)</p>
      </div>
    </div>
    <div class="explanations">
      <div class="explanation">
        <%= image_tag "https://static.thenounproject.com/png/1462349-200.png", class: "img" %>
        <h4>Spaced repetition</h4>
        <p>Hack your memory with the power of spaced repetition system, the most effective memorization tool yet devised.</p>
      </div>
      <div class="explanation">
        <%= image_tag "https://static.thenounproject.com/png/2533014-200.png", class: "img" %>
        <h4>Intelligent vocabulary order</h4>
        <p>Learn the vocabulary that you need to acquire in your job (bankers, layers, ..) rather than hard-to-remember category-based groups (red...orange...yellow).</p>
      </div>
    </div>
</div>
