<div class="everything-testimonials">
    <h1>They already work with us</h1>
    <div class="explanations-testimonials">

      <div class="card-product">
        <img src="http://box.wallfizz.com/femmes/jolies-filles/6311-femme-souriante-a-new-york-WallFizz.jpg">
        <div class="card-product-infos">
          <h2>Victoire</h2>
          <p>This technique is <strong>amazing</strong> to remember the vocabullary of a language in a funny way, I higly recommend it!</p>
        </div>
      </div>

      <div class="card-product">
        <img src="https://file1.topsante.com/var/topsante/storage/images/couple-et-sexualite/amour-et-couple/seduction/insolite_seduction-comment-le-sourire-des-hommes-fait-craquer-les-femmes-23628/165284-1-fre-FR/Seduction-comment-le-sourire-des-hommes-fait-craquer-les-femmes_width1024.jpg">
        <div class="card-product-infos">
          <h2>André</h2>
          <p>This technique is <strong>amazing</strong> to remember the vocabullary of a language in a funny way, I higly recommend it!</p>
        </div>
      </div>

      <div class="card-product">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRZ0KjPytQb0_5f3vZWDyAyN11eF9Mf-U3IOufllArcvVR5Mlz">
        <div class="card-product-infos">
          <h2>Joséphine</h2>
          <p>This technique is <strong>amazing</strong> to remember the vocabullary of a language in a funny way, I higly recommend it!</p>
        </div>
      </div>

    </div>
  </div>
