<div class="explanations-testimonials">

  <div class="card-product">
    <img src="https://media.licdn.com/dms/image/C4E03AQG-soyCWKwoIA/profile-displayphoto-shrink_200_200/0?e=1562198400&v=beta&t=HhBveqJZgAvITiKq16h2ppEfMPgcC0CyAf_UCbMCSkY">
    <div class="card-product-infos">
      <h2>Thomas</h2>
      <p>This technique is <strong>amazing</strong> to remember the vocabullary of a language in a funny way, I higly recommend it!</p>
    </div>
  </div>

  <div class="card-product">
    <img src="https://pbs.twimg.com/profile_images/778044723239890944/7T93eGM1.jpg">
    <div class="card-product-infos">
      <h2>Krishna</h2>
      <p>This technique is <strong>amazing</strong> to remember the vocabullary of a language in a funny way, I higly recommend it!</p>
    </div>
  </div>

  <div class="card-product">
    <img src="https://pbs.twimg.com/profile_images/2190848701/Photo_1.jpg">
    <div class="card-product-infos">
      <h2>Jérémy</h2>
      <p>This technique is <strong>amazing</strong> to remember the vocabullary of a language in a funny way, I higly recommend it!</p>
    </div>
  </div>

</div>
<div class="explanations-testimonials">

  <div class="card-product">
    <img src="https://scontent.fbru1-1.fna.fbcdn.net/v/t1.0-9/1382153_572875219445286_1716027827_n.jpg?_nc_cat=103&_nc_ht=scontent.fbru1-1.fna&oh=61f897b1371ca4728b7939ff884a9bf5&oe=5D9C0DD7">
    <div class="card-product-infos">
      <h2>Didier</h2>
      <p>This technique is <strong>amazing</strong> to remember the vocabullary of a language in a funny way, I higly recommend it!</p>
    </div>
  </div>

  <div class="card-product">
    <img src="https://scontent.fbru1-1.fna.fbcdn.net/v/t1.0-9/10653291_10152259352246906_3016131096858553597_n.jpg?_nc_cat=109&_nc_ht=scontent.fbru1-1.fna&oh=f987631a551ce7cce85e5fd5d5ce7d57&oe=5D8E1FE4">
    <div class="card-product-infos">
      <h2>Geoffroy</h2>
      <p>This technique is <strong>amazing</strong> to remember the vocabullary of a language in a funny way, I higly recommend it!</p>
    </div>
  </div>

  <div class="card-product">
    <img src="https://scontent.fbru1-1.fna.fbcdn.net/v/t1.0-9/15134672_10211247067440549_7512410060764366858_n.jpg?_nc_cat=107&_nc_ht=scontent.fbru1-1.fna&oh=8e0f2724a65260c8600cc3d400ddc6a6&oe=5D9C47F8">
    <div class="card-product-infos">
      <h2>Justine</h2>
      <p>This technique is <strong>amazing</strong> to remember the vocabullary of a language in a funny way, I higly recommend it!</p>
    </div>
  </div>

</div>
 <div class="explanations-testimonials">

  <div class="card-product">
    <img src="https://scontent.fbru1-1.fna.fbcdn.net/v/t1.0-9/22049814_1480049565366319_4278154676336088835_n.jpg?_nc_cat=105&_nc_ht=scontent.fbru1-1.fna&oh=11f9ab785dcfd6debbe5037f872acbab&oe=5D9E1325">
    <div class="card-product-infos">
      <h2>Adela</h2>
      <p>This technique is <strong>amazing</strong> to remember the vocabullary of a language in a funny way, I higly recommend it!</p>
    </div>
  </div>

  <div class="card-product">
    <img src="https://scontent.fbru1-1.fna.fbcdn.net/v/t1.0-9/37129439_10155927151957261_8655428775929970688_o.jpg?_nc_cat=105&_nc_ht=scontent.fbru1-1.fna&oh=bb2f9b6773b306ed5a2bf0dda86fdeb4&oe=5D8D1ED0">
    <div class="card-product-infos">
      <h2>Gary</h2>
      <p>This technique is <strong>amazing</strong> to remember the vocabullary of a language in a funny way, I higly recommend it!</p>
    </div>
  </div>

  <div class="card-product">
    <img src="https://scontent.fbru1-1.fna.fbcdn.net/v/t1.0-9/61967634_10156201187316080_1865544209230987264_o.jpg?_nc_cat=105&_nc_ht=scontent.fbru1-1.fna&oh=e2f1473676a4e2eb8f002f44be2a0b45&oe=5D90CB92">
    <div class="card-product-infos">
      <h2>Nikos</h2>
      <p>This technique is <strong>amazing</strong> to remember the vocabullary of a language in a funny way, I higly recommend it!</p>
    </div>
  </div>
</div>

