<div class="everything-testimonials">
    <h1>They are already convinced</h1>
    <div class="explanations-testimonials">

      <div class="card-product">
        <img src="http://box.wallfizz.com/femmes/jolies-filles/6311-femme-souriante-a-new-york-WallFizz.jpg">
        <div class="card-product-infos">
          <h2>Victoire</h2>
          <p>This technique is <strong>amazing</strong> to remember the vocabullary of a language in a funny way, I higly recommend it!</p>
        </div>
      </div>

      <div class="card-product">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxKVv27800vH_EJre96AI3DR5p8Esob_utP9Iqj-bAAJ-Jj0y3">
        <div class="card-product-infos">
          <h2>André</h2>
          <p>This technique is <strong>amazing</strong> to remember the vocabullary of a language in a funny way, I higly recommend it!</p>
        </div>
      </div>

      <div class="card-product">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRZ0KjPytQb0_5f3vZWDyAyN11eF9Mf-U3IOufllArcvVR5Mlz">
        <div class="card-product-infos">
          <h2>Joséphine</h2>
          <p>This technique is <strong>amazing</strong> to remember the vocabullary of a language in a funny way, I higly recommend it!</p>
        </div>
      </div>

    </div>
    <div class="explanations-testimonials">

      <div class="card-product">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmBNByhdRwSssL-xHTKf6dx6Nhy4WiXhhNQH5GCWT2JKvisgmAbA">
        <div class="card-product-infos">
          <h2>Adnan</h2>
          <p>This technique is <strong>amazing</strong> to remember the vocabullary of a language in a funny way, I higly recommend it!</p>
        </div>
      </div>

      <div class="card-product">
        <img src="https://image.freepik.com/photos-gratuite/portrait-femme-souriante-exterieur_23-2147907068.jpg">
        <div class="card-product-infos">
          <h2>Amanda</h2>
          <p>This technique is <strong>amazing</strong> to remember the vocabullary of a language in a funny way, I higly recommend it!</p>
        </div>
      </div>

      <div class="card-product">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeddcUGd_KSiTaKxyJaJA_XOSQJK9vRi2i7xleX4G5bi4ZbJiJ">
        <div class="card-product-infos">
          <h2>Bernard</h2>
          <p>This technique is <strong>amazing</strong> to remember the vocabullary of a language in a funny way, I higly recommend it!</p>
        </div>
      </div>

    </div>
     <div class="explanations-testimonials">

      <div class="card-product">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmBNByhdRwSssL-xHTKf6dx6Nhy4WiXhhNQH5GCWT2JKvisgmAbA">
        <div class="card-product-infos">
          <h2>Adnan</h2>
          <p>This technique is <strong>amazing</strong> to remember the vocabullary of a language in a funny way, I higly recommend it!</p>
        </div>
      </div>

      <div class="card-product">
        <img src="https://image.freepik.com/photos-gratuite/portrait-femme-souriante-exterieur_23-2147907068.jpg">
        <div class="card-product-infos">
          <h2>Amanda</h2>
          <p>This technique is <strong>amazing</strong> to remember the vocabullary of a language in a funny way, I higly recommend it!</p>
        </div>
      </div>

      <div class="card-product">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeddcUGd_KSiTaKxyJaJA_XOSQJK9vRi2i7xleX4G5bi4ZbJiJ">
        <div class="card-product-infos">
          <h2>Bernard</h2>
          <p>This technique is <strong>amazing</strong> to remember the vocabullary of a language in a funny way, I higly recommend it!</p>
        </div>
      </div>

    </div>
  </div>
