<div class="explanations-testimonials">

  <div class="card-product">
    <img src="https://avatars2.githubusercontent.com/u/12738699?s=460&v=4">
    <div class="card-product-infos">
      <h2>Miguel</h2>
      <p>Time goes by so fast because it's <strong> so much fun</strong> learning!</p>
    </div>
  </div>

  <div class="card-product">
    <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/kighbgh7j8iuwrbdir8e.jpg">
    <div class="card-product-infos">
      <h2>Andre</h2>
      <p>This technique is <strong>amazing</strong> to remember the vocabulary of a language in a funny way, I highly recommend it! Beautiful front end design!</p>
    </div>
  </div>

  <div class="card-product">
    <img src="https://avatars2.githubusercontent.com/u/20076484?s=460&v=4">
    <div class="card-product-infos">
      <h2>Joao</h2>
      <p>It's an amazing website that helped me learn so many languages in a fun way!</p>
    </div>
  </div>

</div>
<div class="explanations-testimonials">

  <div class="card-product">
    <img src="https://res.cloudinary.com/goeurope/image/upload/c_scale,w_400/v1545319908/Landing/yuman_morten.webp">
    <div class="card-product-infos">
      <h2>Morten</h2>
      <p>You guys truly are a dreamteam! I've learned French, English and Spanish thanks to MAPit!</p>
    </div>
  </div>

  <div class="card-product">
    <img src="https://miro.medium.com/max/3150/1*RNmxOTK2D49plmMyVynqAw.png">
    <div class="card-product-infos">
      <h2>Boris</h2>
      <p>The user journey totally makes sense. It's so practical!<strong>Wow.</strong></p>
    </div>
  </div>

  <div class="card-product">
    <img src="https://avatars0.githubusercontent.com/u/39671858?s=460&v=4">
    <div class="card-product-infos">
      <h2>Nicolas</h2>
      <p>This technique is <strong>amazing</strong> to remember the vocabulary of a language in a funny way, I highly recommend it! </p>
    </div>
  </div>

</div>
 <div class="explanations-testimonials">

  <div class="card-product">
    <img src="https://avatars1.githubusercontent.com/u/8084433?s=460&v=4">
    <div class="card-product-infos">
      <h2>Tomasz</h2>
      <p>This technique is <strong>amazing</strong> to remember the vocabulary of a language in a funny way, I highly recommend it! Beautiful front end design!</p>
    </div>
  </div>

  <div class="card-product">
    <img src="https://pbs.twimg.com/profile_images/663433641444421632/2hvywkgn.jpg">
    <div class="card-product-infos">
      <h2>Christina</h2>
      <p>Wow. Just wow.</p>
    </div>
  </div>

  <div class="card-product">
    <img src="https://scontent-lga3-1.cdninstagram.com/vp/123edb402d7c6d267b421b49ccfe275c/5D730461/t51.2885-15/sh0.08/e35/p750x750/50561677_178185286497174_4922880300104377735_n.jpg?_nc_ht=scontent-lga3-1.cdninstagram.com&ig_cache_key=MTk3NzE0NzgzMjQ3MzgxMDEyMA%3D%3D.2">
    <div class="card-product-infos">
      <h2>Aida</h2>
      <p>This technique is <strong>amazing</strong> to remember the vocabulary of a language in a funny way, I highly recommend it! Beautiful front end design!</p>
    </div>
  </div>
</div>

