.wrapper {
  background-color: white;
}

.banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 20vw 6vw;
  h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 6vw;
  font-family: 'Open Sans', sans-serif;
  }
  h3 {
  font-size: 4vw;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  color: white;
  }
  h4 {
  font-size: 2vw;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 2rem;
  font-family: 'Open Sans', sans-serif;
  }
  a {
  color: white;
  }
}

.space {
  padding: 3.5%;
}

.banner-text-photo {
  display: flex;
  justify-content: space-around;
}

.banner-text {
  font-family: 'Noto Sans JP', sans-serif;
  padding: 10px;
  margin-right: 40px;
  justify-content: center;
}

.square-map {
  margin-left: 0%;
  padding: 10px;
}

.arrow-down {
  text-align: center;
  color: $title;
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 1.3vw;
  right: 50vw;
  a {
    text-decoration: none;
    color: $title;
  }
}

.bounce {
  -moz-animation: bounce 4s infinite;
  -webkit-animation: bounce 4s infinite;
  animation: bounce 4s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
