.courses-page {
  background-color: whitesmoke;
  padding: 90px;
  h1 {
    color: $title;
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
  }
  .button a {
    color: white;
  }
}

.course-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  // padding-bottom: 25px;
  flex-wrap: wrap;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  margin-right: 25px;
  margin-top: 25px;
  > img {
    height: 125px;
    width: 225px;
    object-fit: cover;
    }
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    }
  .card-trip-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.flags {
  display: flex;
  justify-content: flex-start;
  // padding: 10px;
}
.flag {
  padding-right: 10px;
  a {
    text-decoration: none;
    display: block;
  }
}

.highlight {
  background: linear-gradient(180deg,rgba(255,255,255,0) 90%, $course_bar 20%);
}

// @-webkit-keyframes fadeIn {
//   from {opacity: 0;}
//   to {opacity: 1;}
// }

// @keyframes fadeIn {
//   from {opacity: 0;}
//   to {opacity:1 ;}
// }
