.courses-page {
  background-color: $light;;
  padding: 120px;
  h1 {
    color: $title;
    font-size: 2.7vw;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
  };
  hr {
  // margin-top: 3vw;
  // margin-bottom: 3vw;
  }
}

.courses-icon {
  height: 5vw;
}
.discicon {
  height: 3.7vw;
  // margin-top: 3vw;
}
.courses-container {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  display: grid;
  // grid-template-columns: 285px 285px 285px 285px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3vw;
  justify-content: space-between;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
  border-radius: 5px;
  cursor: pointer;
  // width: 280px;
  > img {
    height: 150px;
    width: 100%;
    // width: 280px;
    object-fit: cover;
    opacity: 0.7;
    }
  h2 {
    font-size: 15px;
    font-weight: bolder;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    color: black;
    }
}

.card-trip
  img:hover {
    opacity: 1;
}

.card-trip-infos {
  padding: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  height: 70px;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  // opacity: 0.7;
  transition: all .3s ease-in-out;
  :hover button {
    display: inline-block;
  }
}

.popup:hover {
  transform: scale(1.03);
  transition: all .3s ease-in-out;
  // opacity: 1;
}

.popup a {
  text-decoration: none;
}

.flags {
  display: flex;
  justify-content: flex-start;
  // padding: 10px;
}
.flag {
  padding-right: 10px;
  a {
    text-decoration: none;
    display: block;
  }
}

// .highlight {
//   background: linear-gradient(180deg,rgba(255,255,255,0) 90%, $course_bar 20%);
// }

