.explanation-icon {
  font-size: 80px;
  color: $button;
  border-style: solid;
  border-radius: 50%;
  max-width: 130px;
  margin: auto;
  background-color: white;
  display: inline-block;
}
.everything-explanations {
  background: white;
  width: 100%;
  height: 96vh;
}

.everything-explanations h4 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 15px;
  color: $title;
}

.highlight {
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #FFD0AE 50%);
}

.explanation p {
  opacity: .8;
  color: $title;
}

.explanation {
  text-align: center;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 20px;
  flex-grow: 10;
}

.explanations {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  padding-top: 130px;
  padding-bottom: 100px;
}

.explanation-arrow {
  color: #3b9ce2;
}
