.img {
  // width: 10px;
  height: 70px;
}

.everything-explanations {
  background: $light-gray;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.everything-explanations h1 {
  text-align: center;
  font-family: 'Mukta', sans-serif;
  font-size: 35px;
  padding: 10px;
}

.explanation p {
  opacity: .5;
}

.explanation h4 {
  color: #3b9ce2;
  margin-top: 20px;
}

.explanation {
  border-radius: 3px;
  text-align: center;
  padding-left: 35px;
  padding-right: 35px;
  flex-grow: 10;
}

.explanations {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  padding: 10px;
}
