.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: $title;
  font-size: 12px;
  .fa-heart {
  color: $button;
  }
}

.footer-links {
  display: flex;
  align-items: center;
  a {
  color: $title !important;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  color: $button-hover;
    :hover {
    opacity: 0.8;
    }
  }
}
